
:root {
    --pool-color: #9b21e1;
    --team-1-color: #2f6690;
    --team-2-color: #7a9b76;
    --ban-color: #E13921;
}


body > * {
    box-sizing: border-box;
}

.global-background {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #dcdcdc;
}

.section {
    display: flex;
    flex-direction: column;
    height: 25vh;
}

.section-header {
    display: flex;
    /* border-radius: 10px 10px 0 0; */
    background: #303036;
    padding: 2PX;
    justify-content: center;
    color: WHITE;
    FONT-SIZE: 25PX;
    height: 40px;
}

.section-body {
    display: flex;
    margin-bottom: 2px;
    justify-content: left;
    align-items: flex-start;
    height:100%;
    overflow: auto;
    flex-wrap: wrap;
}

.picked-sections {
    display: flex;
    width: 60%;
    flex-direction: column;
    position: fixed;
    right: 0;
}

.allChars {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40% ;
}

#team1-section{
    width: 50%;
    margin-right: 2px;
}


#team2-section{
    width: 50%;
}
  
#team-section {
    display: flex;
} 

#pool-section {
    height: 50vh;
}

#pool-section .section-body{
    background-color: var(--pool-color);
}

#ban-section .section-body{
    background-color: var(--ban-color);
}

.team1-container{
    width: 50%;
}

#team1-section  .section-body{
    background-color: var(--team-1-color);
    align-items: center;
    flex-direction: column;
}

#team2-section  .section-body{
    background-color:  var(--team-2-color);
    align-items: center;
    flex-direction: column;
}


.borderedBox {
    height: 180px;
    width: 150px;
    margin: 4px;
    background: #fffffff7;
    border: none;
    border-radius: 5px;
    /* border: 1px solid #303036; */

}

.borderedBox img {
    object-fit: contain;
    height: 178px;
    width: 130px;
}

.characterBox {
    display:flex;
    flex-direction: column ;
    align-items: center;
    color: #fff;
    font-size: 20px;

    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 150px;
    position: relative;
    margin: 10px;
}

.characterBox img {
    object-fit: contain;
    object-position: 50% 13%;
    width: 100%;
    height: 100%;
position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.characterPortrait {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 120px;
    border:none;
    background-color: transparent;
    color: WHITE;
}

.search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.headerButton {
    border-radius: 10px;
    background: #303036;
    padding: 2px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: WHITE;
    border: none;
    FONT-SIZE: 20PX;
}

.headerbuttons {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20;
}

.poolBorder{
    border: 5px solid var(--pool-color)
}

.t1Border{
    border: 5px solid var(--team-1-color)
}

.t2Border{
    border: 5px solid var(--team-2-color)
}

#search-text {
    margin-right: 4px;
}

.all-char-header {
    position: sticky;
    top: 0;
    background-color: #dcdcdc;
    width: 100%;
    
}


.char-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
